<div class="modal fade" id="<%= modal_id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content modal-view">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= title %> </h5>
        <!-- <%= link_to download_excel_remaining_volume_dashboard_index_path(year: @year, month: @month), 
            class: "px-2 btn btn-primary" do %>
          <i class="fas fa-download"></i> -->
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body scroll">
        <table >
          <thead>
            <tr>
              <th>Date Transmitted</th>
              <th>Units</th>
              <th>TAT</th>
              <th>State Code</th>
              <th>Date Received</th>
              <th>Rider No.</th>
              <th>Date Coverage From</th>
              <th>Date Coverage To</th>
              <th>No of Filins</th>
            </tr>
          </thead>
          <tbody>
            <% transmitted_data&.each do |row| %>
              <tr>
                <td><%= row["#{title}_date"] %></td>
                <td><%= row["#{title}_unit"] %></td>
                <td><%= row["tat_#{title}"] %></td>
                <td><%= row["state_code"] %></td>
                <td><%= row["date_received"] %></td>
                <td><%= row["rider_no"] %></td>
                <td><%= row["coverage_date_from"] %></td>
                <td><%= row["coverage_date_to"] %></td>
                <td><%= row["volume"] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>