<div class="modal fade " id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content modal-view">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remaining Volume</h5>

        <%= link_to download_excel_dashboard_index_path(month: @month, year: @year, trademark: "Remaining Volume"), 
            class: "px-2 btn btn-primary" do %>
          <i class="fas fa-download"></i>
        <% end %>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body scroll">
        <table >
          <thead>
            <tr>
              <th>Shipment</th>
              <th>Date Received</th>
              <th>Type</th>
              <th>State Code</th>
              <th>Rider No</th>
              <th>Coverage Date-From</th>
              <th>Coverage Date-to</th>
              <th>Volume</th>
            </tr>
          </thead>
          <tbody>
            <% @default_table.each do |row| %>
              <tr>
                <td><%= row['shipment'] %></td>
                <td><%= row['date_received'] %></td>
                <td><%= row['type'] %></td>
                <td><%= row['state_code'] %></td>
                <td><%= row['rider_no'] %></td>
                <td><%= row['coverage_date_from'] %></td>
                <td><%= row['coverage_date_to'] %></td>
                <td><%= row['volume'] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>