<div class='header'>
  <h1 class="title">Dashboard</h1>

  <div class="dashboard-data">
    <div class="filter">
      <%= form_tag(root_path, method: :get, data: { controller: "filter" }) do %>
        <div class="form-group">
          <%= select_tag(:month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name, i| [name, i + 1] }, @month), data: { target: "filter.month" }) %>
        </div>

        <div class="form-group">
          <%= select_tag(:year, options_for_select((2015..Date.today.year).to_a.reverse, @year), data: { target: "filter.year" }) %>
        </div>
        <% end %>
    </div>
  </div>
</div>

<div class='main-container'>
  <div class='box remaining'>
    <div class='box-item box1 '>
      <div class=' d-flex flex-row align-items-center card card-design'>
        <div class="icon-wrapper iwbg1">
          <i class="fa-regular fa-folder" style="color: #74C0FC;"></i>
        </div>

        <div class='box-data'>
          <h3 class='title1 text-start'>Volume</h3>
          <h3 class='value1'><%=  format_with_commas(@volume_data[:volume]) %> </h3>
        </div>
      </div>

      <div class='d-flex flex-row align-items-center card card-design'>
        <div class="icon-wrapper iwbg2">
          <i class="fa-regular fa-folder" style="color: #b39d4dd6;"></i>
        </div>

        <div class='box-data'>
          <h3 class='title1 text-start'>Remaining Volume</h3>
          <h3 class='value1'><%= format_with_commas(@volume_data[:remaining_volume]) %> </h3>
        </div>
      </div>
    </div>

    <div class='box-item card-design box2'>
      <div class='title'>Remaining Volume</div>

      <div class="flex-container" style="display: flex; flex-direction: column; height: 100%;">
        <div class="chart-container" data-controller="volume-type-chart" data-volume-type-chart-data-value="<%= @volume_data[:remaining_volume_tbl_grouped_by_type].to_json %>">
          <canvas id="rm-type" height="300"></canvas>
        </div>

        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Remaining Volume Table
        </button>
        <%= render 'volume_tbl' %>
        <!-- 
        <div class="chart-container" data-controller="volume-statecode-chart" data-volume-statecode-chart-data-value="<%= @volume_data[:remaining_volume_tbl_grouped_by_statecode].to_json %>">
          <canvas id="rm-statecode" height="300"></canvas>
        </div> -->
       <!-- <%= button_to 'Launch static backdrop modal', '#', class: 'btn btn-primary text', data: { bs_toggle: 'modal', bs_target: '#staticBackdrop' } %> -->
      </div>
    </div>

    <div class='box-item card-design box3'>
      <h3 class='title'>Quality Score</h3>

      <div class='sub-card'>
        <div class='sub-card-info'>
          <h4 class='title1'>Critical</h4>
          <h3 class='value2'><%= @qc_score[:critical] %> </h3>
        </div>

        <div class='sub-card-info'>
          <h4 class='title1'>Non-critical</h4>
          <h3 class='value2'><%= @qc_score[:non_critical] %> </h3>
        </div>
      </div>

      <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#qc_table">
        click to see table
      </button>
      <%= render 'qc_tbl' %>
    </div>
  </div>
  
  <div class='box card-design'>
    <h3 class='title'>Volume Transmitted and TAT</h3>
    <div class='card-data'>
      <% @transmitted_data.each_with_index do |(title, data), index| %>
        <div class="card-info clickable" data-controller="clickable" 
            data-action="click->clickable#openModal" 
            data-target="clickable.modalTarget" 
            data-bs-toggle="modal" 
            data-bs-target="#transmitted_index_<%= index %>">
          <h4 class="title"><%= title.capitalize %></h4>
          
          <% if data[:sla].positive? %>
            <h3 class="sub-title">SLA: <%= data[:sla] %> Days</h3>
          <% end %>

          <div class="card-box">
            <div class="Unit">
              <h3 class="title">Unit</h3>
              <h3 class="value4"><%= data[:unit] %></h3>
            </div>
            <% if data[:sla].positive? %>
              <div class="TAT">
                <h3 class="title">Tat</h3>
                <h3 class="value4"><%= data[:tat] %></h3>
              </div>
            <% end %>
          </div>
        </div>

        <%= render 'transmitted_index_tbl', transmitted_data: data[:table], title: title, modal_id: "transmitted_index_#{index}" %>
      <% end %>
    </div>
  </div>

  <div class='box card-design filing'>
    <h3 class='title'>Volume Transmitted and TAT</h3>

    <div class='transmitted-container'>
      <p class="transmitted-title text-center">Index</p>
      <div class='transmitted-chart'>
        <div class="chart-container" data-controller="index-filing-chart" data-index-filing-chart-age-value="<%= @filing_data["index"][:chart].to_json %>">
          <canvas id="index-filing"  height ="180"></canvas>
        </div>

        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#filing_modal_index">
          click to see table
        </button>
        <%= render 'filing_tbl', filing_table: @filing_data["index"][:table] , title: "index", filing_modal_id: "filing_modal_index" %>
      </div>
    </div>
  
    <div class='transmitted-container'>
      <p class="transmitted-title text-center">Collateral</p>
      <div class='chart' style="overflow-x: scroll">
        <div class="chart-container" data-controller="collateral-filing-chart" 
        data-collateral-filing-chart-age-value="<%= @filing_data["collateral"][:chart].to_json %>" 
        style="position: relative;  width:2000px;">
          <canvas id="collateral-filing"  height ="180"></canvas>
        </div>
        
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#filing_modal_collateral">
          click to see table
        </button>
        <%= render 'filing_tbl', filing_table: @filing_data["collateral"][:table] , title: "collateral", filing_modal_id: "filing_modal_collateral" %>
      </div>
    </div>

    <div class='transmitted-container'>
      <p class="transmitted-title text-center">Tax Lien</p>
      <div class='chart'>
        <div class="chart-container" data-controller="taxlien-filing-chart" data-taxlien-filing-chart-age-value="<%= @filing_data["tax_lien"][:chart].to_json %>">
          <canvas id="taxlien-filing"  height ="180"></canvas>
        </div>

        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#filing_modal_tax_lien">
          click to see table
        </button>
        <%= render 'filing_tbl', filing_table: @filing_data["tax_lien"][:table] , title: "tax_lien", filing_modal_id: "filing_modal_tax_lien" %>
    </div>
  </div>
  </div>
</div>