<div class='upload-container card-design'>
  <h1>All QC Files</h1>
  <div class='scroll'>  
    <table>
      <thead>
        <tr>
          <th>UCC Transmission date</th>
          <th>Number of Filings</th>
          <th>Number of Errors (Critical)</th>
          <th>Number of Errors (Non-Critical)</th>
          <th>Qualty Score (Critical)</th>
          <th>Qualty Score (Non-Critical)</th>
          <th>Base Recs</th>
          <th>Debtor/Secured Party</th>
          <th>Collaterals</th>
        </tr>
      </thead>
      <tbody>
        <% @qcs.each do |qc| %>
          <tr>
            <td><%= qc['ucc_transmission_date'] %></td>
            <td><%= qc['number_of_filing'] %></td>
            <td><%= qc['no_of_error_critical'] %></td>
            <td><%= qc['no_of_error_non_critical'] %></td>
            <td><%= string_percent(qc['quality_score_critical']) %></td>
            <td><%= string_percent(qc['quality_score_non_critical']) %></td>
            <td><%= qc['base'] %></td>
            <td><%= qc['debtor'] %></td>
            <td><%= qc['collaterals'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>