<div class='upload-container card-design'>
  <div class="head">
    <h2><%= link_to uploads_path do %>
      <span class="circle-left-icon" title="go back">
        <i class="fas fa-circle-left"></i>
      </span>
    <% end %><%= @qc_filename %> </h2>
  </div>
  <div class='scroll'>  
    <table>
      <thead>
        <tr>
          <th>UCC Transmission date</th>
          <th>Number of Filings</th>
          <th>Number of Errors (Critical)</th>
          <th>Number of Errors (Non-Critical)</th>
          <th>Qualty Score (Critical)</th>
          <th>Qualty Score (Non-Critical)</th>
          <th>Base Recs</th>
          <th>Debtor/Secured Party</th>
          <th>Collaterals</th>
        </tr>
      </thead>
      <tbody>
        <% @qc_file_data.each do |file| %>
          <tr>
            <td><%= file['ucc_transmission_date'] %></td>
            <td><%= file['number_of_filing'] %></td>
            <td><%= file['no_of_error_critical'] %></td>
            <td><%= file['no_of_error_non_critcal'] %></td>
            <td><%= string_percent(file['quality_score_critical']) %></td>
            <td><%= string_percent(file['quality_score_non_critical']) %></td>
            <td><%= file['base'] %></td>
            <td><%= file['debtor'] %></td>
            <td><%= file['collaterals'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>